@media screen and (min-width: 1200px) {
  .container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .container > .row {
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container > .row > .col-lg-1 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333%;
  }
  .container > .row > .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .container > .row > .col-lg-2 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%;
  }
  .container > .row > .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .container > .row > .col-lg-3 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .container > .row > .offset-lg-3 {
    margin-left: 25%;
  }
  .container > .row > .col-lg-4 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
  }
  .container > .row > .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .container > .row > .col-lg-5 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66667%;
  }
  .container > .row > .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .container > .row > .col-lg-6 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .container > .row > .offset-lg-6 {
    margin-left: 50%;
  }
  .container > .row > .col-lg-7 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333%;
  }
  .container > .row > .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .container > .row > .col-lg-8 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%;
  }
  .container > .row > .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .container > .row > .col-lg-9 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }
  .container > .row > .offset-lg-9 {
    margin-left: 75%;
  }
  .container > .row > .col-lg-10 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333%;
  }
  .container > .row > .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .container > .row > .col-lg-11 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66667%;
  }
  .container > .row > .offset-lg-11 {
    margin-left: 91.66667%;
  }
  .container > .row > .col-lg-12 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .container > .row > .offset-lg-12 {
    margin-left: 100%;
  }
  .container > .row > .hidden-lg {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .container > .row {
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container > .row > .col-md-1 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333%;
  }
  .container > .row > .offset-md-1 {
    margin-left: 8.33333%;
  }
  .container > .row > .col-md-2 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%;
  }
  .container > .row > .offset-md-2 {
    margin-left: 16.66667%;
  }
  .container > .row > .col-md-3 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .container > .row > .offset-md-3 {
    margin-left: 25%;
  }
  .container > .row > .col-md-4 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
  }
  .container > .row > .offset-md-4 {
    margin-left: 33.33333%;
  }
  .container > .row > .col-md-5 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66667%;
  }
  .container > .row > .offset-md-5 {
    margin-left: 41.66667%;
  }
  .container > .row > .col-md-6 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .container > .row > .offset-md-6 {
    margin-left: 50%;
  }
  .container > .row > .col-md-7 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333%;
  }
  .container > .row > .offset-md-7 {
    margin-left: 58.33333%;
  }
  .container > .row > .col-md-8 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%;
  }
  .container > .row > .offset-md-8 {
    margin-left: 66.66667%;
  }
  .container > .row > .col-md-9 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }
  .container > .row > .offset-md-9 {
    margin-left: 75%;
  }
  .container > .row > .col-md-10 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333%;
  }
  .container > .row > .offset-md-10 {
    margin-left: 83.33333%;
  }
  .container > .row > .col-md-11 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66667%;
  }
  .container > .row > .offset-md-11 {
    margin-left: 91.66667%;
  }
  .container > .row > .col-md-12 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .container > .row > .offset-md-12 {
    margin-left: 100%;
  }
  .container > .row > .hidden-md {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .container > .row {
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container > .row > .col-sm-1 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333%;
  }
  .container > .row > .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .container > .row > .col-sm-2 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%;
  }
  .container > .row > .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .container > .row > .col-sm-3 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .container > .row > .offset-sm-3 {
    margin-left: 25%;
  }
  .container > .row > .col-sm-4 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
  }
  .container > .row > .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .container > .row > .col-sm-5 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66667%;
  }
  .container > .row > .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .container > .row > .col-sm-6 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .container > .row > .offset-sm-6 {
    margin-left: 50%;
  }
  .container > .row > .col-sm-7 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333%;
  }
  .container > .row > .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .container > .row > .col-sm-8 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%;
  }
  .container > .row > .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .container > .row > .col-sm-9 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }
  .container > .row > .offset-sm-9 {
    margin-left: 75%;
  }
  .container > .row > .col-sm-10 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333%;
  }
  .container > .row > .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .container > .row > .col-sm-11 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66667%;
  }
  .container > .row > .offset-sm-11 {
    margin-left: 91.66667%;
  }
  .container > .row > .col-sm-12 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .container > .row > .offset-sm-12 {
    margin-left: 100%;
  }
  .container > .row > .hidden-sm {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .container > .row {
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container > .row > .col-xs-1 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333%;
  }
  .container > .row > .offset-xs-1 {
    margin-left: 8.33333%;
  }
  .container > .row > .col-xs-2 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%;
  }
  .container > .row > .offset-xs-2 {
    margin-left: 16.66667%;
  }
  .container > .row > .col-xs-3 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .container > .row > .offset-xs-3 {
    margin-left: 25%;
  }
  .container > .row > .col-xs-4 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
  }
  .container > .row > .offset-xs-4 {
    margin-left: 33.33333%;
  }
  .container > .row > .col-xs-5 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66667%;
  }
  .container > .row > .offset-xs-5 {
    margin-left: 41.66667%;
  }
  .container > .row > .col-xs-6 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .container > .row > .offset-xs-6 {
    margin-left: 50%;
  }
  .container > .row > .col-xs-7 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333%;
  }
  .container > .row > .offset-xs-7 {
    margin-left: 58.33333%;
  }
  .container > .row > .col-xs-8 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%;
  }
  .container > .row > .offset-xs-8 {
    margin-left: 66.66667%;
  }
  .container > .row > .col-xs-9 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }
  .container > .row > .offset-xs-9 {
    margin-left: 75%;
  }
  .container > .row > .col-xs-10 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333%;
  }
  .container > .row > .offset-xs-10 {
    margin-left: 83.33333%;
  }
  .container > .row > .col-xs-11 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66667%;
  }
  .container > .row > .offset-xs-11 {
    margin-left: 91.66667%;
  }
  .container > .row > .col-xs-12 {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .container > .row > .offset-xs-12 {
    margin-left: 100%;
  }
  .container > .row > .hidden-xs {
    display: none;
  }
}
